# This action submits an abstract to the site when a pull request is merged
name: Submit abstract
# You may change the trigger for this action, depending on your desired workflow
on:
  push:
    branches: ['main']
permissions:
  # This write permission is only for commenting on the commit
  contents: write
jobs:
  submit:
    uses: curvenote/actions/.github/workflows/submit.yml@v1
    with:
      # The pattern is helpful if you require authors to create their own unique ID
      # This must be globally unique in Curvenote, please prefix it with your site if you enforce it
      id-pattern-regex: '^agrogeo-2026-(?:[a-zA-Z0-9-_]{3,30})$'
      # Uncomment to enforce single abstract in each PR
      # enforce-single-folder: true
      # Update this with your site name
      venue: agrogeo
      kind: abstract
      collection: '2026'
      path: abstracts/*
    secrets:
      # CURVENOTE_TOKEN must be set as an org or repository secret
      CURVENOTE: ${{ secrets.CURVENOTE_TOKEN }}
      # GITHUB_TOKEN is automatically available to GitHub actions
      GITHUB: ${{ secrets.GITHUB_TOKEN }}
